body{
    display: flex;
    min-height: 100vh;
}

img {
    max-width: 40rem;
    justify-content: center;
    align-items: center;
    display: block;
}

div.content {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

section.top h1 {
    font-size: min(4rem);
}

section.top p {
    font-size: min(2.25rem);
    justify-items: center;
}

section {
    flex-direction: column;
    justify-items: center;
}

section h2 {
    font-size: min(2rem);
}

section p {
    font-size: min(1.25rem);
}

main section:not(:last-child) {
    border-bottom: 1px solid white;
}