main {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3rem;
}

main article {
    margin-left: .5rem;
    margin-right: .5 rem;
}

main article h1 {
    font-size: 3rem;
}

main article p.home {
    font-size: 1.5rem;
}