body {
    background-color: rgb(13, 17, 23);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(1, 4, 9);
    padding: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

header p.name {
    font-weight: bold;
    font-size: 1.5rem;
    margin: .25rem;
}

header nav a {
    color: unset;
    text-decoration: unset;
    font-size: 1.5rem;
    padding-left: 2ch;
    padding-right: 2ch;
    margin: .25rem;

}

header nav a:not(:last-child) {
    border-right: 1px solid white
}

footer {
    background-color: rgba(1, 4, 9);
    text-align: center;
    margin-top: auto;
    padding: .25rem;
}